 .jumbotron-fluid{
    text-align: center;
    font-weight:bold;
    font-size: 20px;

    width:100%;
    top:0;
}
.planner-row{
    padding: 2px 100px 2px 100px;
    height:100px;
}

.form-control{
    height: 100px;
}

.btn-warning{
    border-radius:25px;
} 
 */
 

 body {
  
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  padding-top: 90px;
  vertical-align: middle;
}



textarea {
  background: transparent;
  border: none;
  height:100%;
  width:100%;
  padding-left: 3px;
}

.btn{
    padding:auto;
    margin:auto;
}



.col-md-1, .col-md-2, .col-md-9 {
  padding: 0;
}


#plannerContainer {

  margin-top: 20px;
  margin-bottom: 20px;
  

 
} 

.plannerRow {
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1em;
  line-height: 1.5;
  
  padding: 20px 20px 20px 20px;
}


.timeBox {
  color: black;
  height:100%;
  width: 100%;
  text-align: center;
  border-radius: 15px 0px 0px 15px;
  padding: 50 px;
  display: inline-block;
  font-size: 1em;
}


.saveIcon {
  background-color: darkturquoise;
  color: linen;
  border-radius: 0px 15px 15px 0px;
  font-size: 1.5em;
  width: 100%;
  height: 100%;
  text-align: center;
}


div{
    padding: 10px;
    margin-bottom:10px;
}

@media (max-width: 768px) {
  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
  .plannerRow {
    height: 100%;
    border-radius: 10;
    margin: 10px;
  }

  .saveIcon { border-radius: 0 0 15px 15px; }

  .timeBox { border-radius: 15px 15px 0 0; }
}





